@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input[type=range] {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
}

input[type=range] + datalist {
    display: flex;
    margin-top: -4px;
}
input[type=range] + datalist option {
    display: inline-block;
    width: calc((700px) / (4));
    text-align: center;
}
input[type=range] + datalist option:first-child {
    width: calc((775px) / ((4) * 2) + 6px);
    text-align: left;
}
input[type=range] + datalist option:last-child {
    width: calc((775px) / ((4) * 2) + 6px);
    text-align: right;
}
